bin
obj
scratch
.vscode
*.vtk.*
*.o
*.so
*.s
/eb-ref/*.vtk
*.vtk
*.png
*.s
*.state
*.vtk
*.gz
*.mp4
*.aux
*.fdb_latemk
*.pdf
*.fls
*.log
*.pov
*.rst
*.zip
*.pvsm
*.xml
*.graphml

dmpc?.*
dmpc??.*

test-dmpci-grid
test_results
working
working2
results
*.csv
*.out
.*/
tmp.*
poems_sim
*.poems
*.graph.so
poems_sim
experiments/orch-scaling/inputs
experiments/orch-scaling/outputs
experiments/orch-scaling/outputs-safe
out.txt
experiments/benchmarks-2022-01-01-run/results/oilwater_monomer/oilwater_monomer-38x38x38.basic_v5-scotch.stderr.log
experiments/julian-*
experiments/jobs
*.state.bz2
*.in